.slider-container {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.slider-row {
	width: auto;
	height: 100%;
}
.slide-wrapper {
	position: absolute;
	height: 100%;
}
.slide-wrapper .active {
	opacity: 1;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	transition: opacity 1s, transform 1s, -webkit-transform 1s;
}
.slide-item {
	display: inline-block;
	height: 100%;
	opacity: 0.5;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	transition: opacity 1s, transform 1s, -webkit-transform 1s;
}
.slide {
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.slide-title {
	font-size: 1.5rem;
	padding: 10px;
}
.slider-nav {
	background-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 35%;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: white;
	font-size: 2rem;
	padding: 1.5rem;
}

.next {
	right: 0;
}

.previous {
	left: 0;
}

.slider-dots {
	position: absolute;
	bottom: 3%;
	width: 100%;
	text-align: center;
}

.slider-dots ul {
	margin: 0;
	padding: 0;
}

.slider-dots ul li {
	display: inline-block;
	list-style: none;
	margin: 0 3px;
}

.slider-dots ul li.active i {
	color: #ad49d2;
}

.dots {
	padding: 0;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: white;
	background: none;
}
